/* 9000819 Devansh Mistry | Pestal Theme */

/* 
  Browser Compatibility Testing Information:
  - Tested in: Mozilla Firefox (Version 132) on Windows 11 (Desktop)
  - Tested in: Google Chrome (Version 130) on Windows 11 (Desktop)
  - Tested in: Opera (Version 114) on Windows 11 (Desktop)
  - Platforms: Desktop (Windows 11), Mobile (Samsung Galaxy, iPad Mini)
  
  Layout verified on the latest versions of Firefox, Chrome, and Opera for Windows 11, 
  as well as mobile browsers for Galaxy and iPad Mini.

  No layout issues detected on any of the platforms. The layout is responsive and functions correctly across all screen sizes.
  - Tested on mobile browsers: Chrome and Firefox on Samsung Galaxy (works perfect)
  - Tested on tablet browsers: Safari and Chrome on iPad Mini (works perfect)
  - No horizontal overflow, broken grid layouts, or other layout issues observed.

  The layout is fully responsive and works as intended across desktop and mobile devices.
*/

/****************************************************/ 
/* base layout styels for wireframe (All devices)*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
}

:root {
    --primary-color: #112B76;
    --secondary-color: #112BC4;
    --family1: "PT Sans", sans-serif;
    --bg1: linear-gradient(to right,
            #BCD8FB 0%,
            #BCEBFB 20%,
            #A5E5F9 40%,
            #C3D9FB 75%,
            #C3D9FB 100%);
    --shadow-inset:
        inset 2px 2px 5px rgba(0, 0, 0, 0.11),
        inset -2px -2px 5px #67a2f0;
    --shadow-soft:
        6px 6px 12px rgba(0, 0, 0, 0.2),
        -6px -6px 12px #7ab1f4;
    --shadow-soft2:
        3px 3px 6px rgba(0, 0, 0, 0.099),
        -3px -3px 6px #7ab1f4;
}

body {
    display: grid;
    width: 100vw;
    margin: 0;
    font-family: var(--family1);
    background: var(--bg1);
    color: var(--primary-color);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-inset) !important;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: var(--shadow-inset) !important;
}

main {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    box-shadow: var(--shadow-soft) !important;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

nav li {
    margin: 0;
    position: relative;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.25rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 4px;
    display: block;
    transition: color 0.3s;
    height: 100%;
}


/* home page style */
.ct-home {
    display: grid;
}

.img-ctn {
    max-width: 100%
}

.ct-home img {
    width: 100%;
    height: auto;
}

.text-container {
    display: flex;
    flex-flow: column wrap;
    align-content: space-evenly;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 1.125rem;
}

/* About page style */
.ct-about {
    display: grid;
    gap: 2vw;
}

.text-abt {
    padding-left: 1vw;
    font-size: 1.125rem;
}

.vd-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.vd-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Interest page style */

.ct-int {
    display: grid;
    gap: 2vw;
    padding: 1.5vw;
    margin: 0 auto;
}

.grid-item {
    margin: 0 auto;
    font-size: 1.125rem;
    background: #C3D9FB;
    border: 1px solid;
    border-radius: 8px;
    padding: 2vw;
    text-align: center;
    box-shadow: var(--shadow-soft2);
}

.grid-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1dvh;
    object-fit: cover;
    object-position: center;
}

.img-wrapper {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

/**** Topic page style ****/

.aside-tp {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    font-size: 1.1rem;
    padding-left: 1vw;
    padding-right: 1vw;
    align-content: flex-start;
    gap: 0;
    box-shadow: var(--shadow-inset) !important;
    margin: 0;
}

.aside-tp ul {
    list-style: none;
    margin: 0;
    margin-top: 1.5vh;
    padding: 0;
}

.aside-tp li {
    padding-bottom: 3.5vh;
}

.sc-topic {
    padding: 2vw;
    font-size: 1.1rem;
}

/* for large screens and desktops */
@media only screen and (min-width: 1200px) {
    body {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 20vw 65vw 15vw;
        height: 100vh;
    }

    header {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    footer {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    main {
        grid-row: 2 / 3;
        grid-column: span 2;
        order: 1; /* sets main to left side */
        max-width: 80vw;
    }

    nav {
        grid-row: 2 / 3;
        order: 2; /* sets nav to right side */
    }


    .ct-home {
        grid-template-columns: 50vw 1fr;
    }

    .img-ctn {
        grid-column: 1 / 2;
    }

    .text-container {
        grid-column: 2 / 3;
    }

    .ct-about {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding-right: 2vw;
        max-width: 85vw;
    }

    .ct-int {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 75vw;
    }

    .pg-topic main {
        grid-row: 2 / 3;
        grid-column: span 1;
        order: 1; /* sets main to middle, override */
        max-width: 60vw;
    }

    .pg-topic nav {
        grid-row: 2 / 3;
        order: 2;  /* sets nav to right side, override */
    }

    .pg-topic .aside-tp {
        grid-row: 2 / 3;
        order: 0; /* sets aside to left side, override */
    }
}


/* For mobile devices */
@media only screen and (max-width: 599px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        text-align: center;
    }

    header {
        order: 1; /* sets first */
    }

    footer {
        order: 4; /* sets last */
        font-weight: 500;
    }

    nav {
        order: 2; /* sets 2nd */
    }

    nav a{
        padding: 10px 15px;
        display: block;
        border: 1px dashed;
        width: 100%;
        font-weight: normal;
    }

    main {
        grid-row: span 2;
        order: 3; /* sets 3rd */
        padding: 2vw;
    }

    .ct-home {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
    }


    .img-ctn {
        grid-row: 1 / 2;
    }

    .text-container {
        grid-row: 2 / 3;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1rem;
    }

    .text-container p {
        font-size: 1.125rem;
    }

    .ct-about {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        padding: 2vw;
    }

    .ct-int {
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
        padding: 5vw;
        gap: 5vw;
    }

    .pg-topic main {
        grid-row: span 1;
        order: 3; /* sets 3rd, override */
    }

    .pg-topic .aside-tp {
        order: 4; /* sets 4th, override */
        justify-content: center;
    }

    .pg-topic footer {
        order: 5; /* sets last, override */
    }

    .sc-topic ul {
        list-style: none;
        margin: 0;
        padding-inline-start: 0;
    }
}

/* For tablets and small to medium PCs */
@media only screen and (min-width: 600px) and (max-width: 1199px) {
    body {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 20vw 60vw 20vw;
        height: 100vh;
    }

    header {
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    footer {
        grid-row: 3 / 4;
        grid-column: 1 / 4;
    }

    main {
        grid-row: 2 / 3;
        grid-column: span 2;
        order: 1; /* sets main to left side */
        max-width: 80vw;
        margin: 1.5vw;
    }

    nav {
        grid-row: 2 / 3;
        order: 2; /* sets nav to right side */
    }

    nav a {
        padding: 10px 15px;
        display: block;
        border: 1px dashed;
        width: 100%;
        font-weight: normal;
    }

    .ct-home {
        grid-template-columns: 50vw 1fr;
    }

    .img-ctn {
        grid-column: 1 / 2;
    }

    .text-container {
        grid-column: 2 / 3;
    }

    .ct-about {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding-right: 5%;
    }

    .ct-int {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 75vw;
        gap: 3vw;
    }

    .grid-item:hover {
        background: #00fbff;
        border: 1px dashed;
        padding: 1.5vw;
    }

    .pg-topic main {
        grid-row: 2 / 3;
        grid-column: span 1;
        order: 1; /* sets main to middle, override */
    }

    .pg-topic .aside-tp {
        grid-row: 2 / 3;
        order: 0; /* sets aside to left side, override */
    }
}

@media (hover: hover) {
    nav a:hover {
        background: rgba(255, 255, 255, 0.3);
        color: #111;
        box-shadow: 0 2px 10px #817bf7;
    }
    .grid-item:hover {
        background: #00fbff;
        border: 1px dashed;
        padding: 1.5vw;
    }
}